:root {
    
    --primary-color: rgba(143, 143, 143, 0.3);
    --secondary-color: rgba(16, 104, 63, 0.5);
    --rudy-grey: #bcbaae;
    --rudy-pink: #ec008b;
    --rudy-pink-trans: rgba(233, 22, 145, 0.8);
    --pink-lt: #ff7bc8;
    --rudy-blue: #bedaec;
    --rudy-blue-trans: rgba(116, 182, 223, 0.85);
    
    --slate-blue: #465661;
    --slate-green: #699563;
    --slate-green-lt: #78a772;

    --contact-dk-txt: #221F20;
    
    --rudy-text: #3f3f3f;
    --rudy-navy: #1a3b5f;
    --btn-cta-green: rgb(133, 212, 133); 
    
    
}