@import '../styles/variables.css';


.contact-container {
  grid-row: 2;
  width: 100vw;
  min-height: 100vh;
  background: var(--slate-green);
  color: var(--contact-dk-txt);
  text-align: center;
  
  section.contact-content-container {
    
    margin: auto;
    text-align: left;
    width: 100vw;
    min-height: 100vh;
    border: 1px dashed orange;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 25vh;


    
    /*contact-form has own styling*/

    .address-logo-container{
      grid-row: 3;
      // background: white;
      position: relative;
      img {
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        /*overriding index.scss*/
        margin-bottom: 0;
      }
      .address {
        // border: 1px dashed white;
        position: absolute;
        bottom: 0;
        right: 0;
        // background: var(--rudy-navy);
        height: 25vh;
        padding: 2vh 1vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
          // display: none;
        p {
          color: var (--contact-dk-text);
            font-size: 1.2rem;
            /* overriding index.scss */
            margin-bottom: 0;
        }
      }
    }
  }
}
