@import '../styles/variables.css';

.photos-container {
    background: linear-gradient(35deg, var(--rudy-pink)0%, var(--pink-lt)70% );

    grid-row: 2;
    text-align: center;
    width: 100vw;
    // height: 200vh;
    min-height: 100vh;
    // padding-top: 2vh;
    h1 {
        color: #fff;
        font-weight: 200;
        margin-top: 3vh;
        font-size: 3rem;
    }
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    main.photos-container {
        opacity: 1;
    }
}