$img1: url('../../images/boy.jpg');
$img2: url('../../images/painting.jpg');
$img3: url('../../images/meeting.jpg');
$img4: url('../../images/girlandrobot.jpg');
// $img5: url('../../images/twokids.jpg');
// $img6: url('../../images/women.jpg');
$picW: 50.2vw;
$picH: 50.3vh;
/* mobile values for bg images */
$picWm: 100vw;
$picHm: 50vh;


.grid {
    width: 100vw;
    min-height: 100vh;
    background: 
    $img1 0 0 no-repeat,
    $img4 0% 100% no-repeat;
    background-size: $picWm $picHm,$picWm $picHm;
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    .grid {
        width: 100vw;
        min-height: 100vh;
        background: 
        $img1 100% 0 no-repeat, 
        $img2 0% 0% no-repeat,
        $img3 100% 100% no-repeat,
        $img4 0% 100% no-repeat;
        background-size: $picW $picH,$picW $picH,$picW $picH;
    }
}

/*************6 img layout **************/
/* 6 img layout */
//     background: $img1 100% 0 no-repeat, 
//    $img2 0% 0% no-repeat,
//    $img3 100% 50% no-repeat,
//    $img4 0% 50% no-repeat,
//    $img5 100% 100% no-repeat,
//    $img6 0% 100% no-repeat;
//    background-size: $picW $picH,$picW $picH,$picW $picH,$picW $picH,$picW $picH;
