@import '../styles/variables.css';

.form {
    margin: 2vh auto;
    // height: 130vh;
    width: 80vw;
    z-index: 120;
    // background: #ec008b;
    label {
      position: static;
    }
    & input[type=text], input[type=email], textarea {
      font-size: 1.1rem;
      font-weight: 100;
    }
    p {
      height: 20px;
      border: 2px dashed green;
    }
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    .form {
      border: 2px solid red;
      height: 130vh;
      width: 80vw;
    }
}


/*
const StyledContactForm = styled.form`
  width: 90vw;
  margin: 2vh auto;
  
  & input[type=text], input[type=email], textarea {
    font-size: 1.1rem;
    font-weight: 100;
  }
  p {
    text-align: left;
    width: 90vw;
  }
  label {
    font-size: 0.9rem;
  }
  input, textarea {
    display: block;
    height: 8vh;
  }

 textarea {
    height: 20vh;
 }
 p:last-of-type {
   text-align: center;
 }
 button.btn-submit {
    width: 40vw;
    height: 8vh;
    margin: 2vh auto;
    background: #6c8a6c;
    color: #fff;
    font-weight: 200;
    font-size: 1.3rem;
 }
`;
*/