@import '../styles/variables.css';

.map-container {
  position: relative;
  height: 50vh;
  width: 100vw;
  // border: 2px dashed brown;
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
  div.map-container {
    width: 50vw;
    margin: 1vh auto;
    // border: 2px dashed yellow;
  }
}