@import '../styles/variables.css';

@import '../styles/variables.css';

.insta-container {
    grid-row: 2;
    text-align: center;
    width: 100vw;
    height: 200vh;
    min-height: 100vh;
    // padding-top: 2vh;
    h1 {
        color: #fff;
        font-weight: 200;
        margin-top: 3vh;
        font-size: 3rem;
    }
    .insta-content-container {
        a.insta-link {
            color: rgb(143, 255, 231);
            font-size: 2rem;
        }
        .img-container {
            width: 95vw;
            margin: 2vh auto;
            // border: 2px solid yellow;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            // margin: 1rem -0.5rem;
            a {
                box-shadow: 0;
                display: block;
                margin: 0.5rem;
                max-width: calc(33%-1rem);
                
                /* images w/h are capped at 150px (see use-instagram.js)*/
                width: 150px;
                transition: box-shadow 200ms linear;
                &:hover {
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                    /*in case it overlaps another picture*/
                    z-index: 10;
                }

            }
        }
    }
}


/*************************************************/
/************* iPad and larger  ******************/
/*************************************************/

@media screen and (min-width: 768px) {
    main.insta-container {
        opacity: 1;
    }
}