.container {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    max-width: 1680px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    /* accounting for 8vh fixed header */
    margin-top: 8vh;
    /* keeps content growing downwards */
    flex-grow: 1;
}